.navbar-bluedark{
    background-color: #243C60;
}
.sidebar-dark-primary{
    background-color: #1F283E !important;
}
.bg-awal{
    background-color: #243C60 !important;
}
.navbar-light .navbar-nav .nav-link{
    color: white !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: grey !important;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active{
    background-color: white !important;
    color: #1A2035!important;
}
.btn-add{
    background-color: #58DB91;
    border-radius: 5px;
    float: right;
}
.text-add a{
    color: #1F283E;
}
.breadcrumb-item a{
    color: #727275 !important;
}
.breadcrumb-item a:hover{
    color: #0056b3 !important;
}
/* .form-control-alternative{
    transition: box-shadow .15s ease !important;
    border: 0.5px solid #dee2e6;
    box-shadow: 0 1px 3px rgb(50 50 93 / 15%),
                0 1px 0 rgb(0 0 0 / 2%);
}
.form-control-alternative:focus{
    border: 1px solid #243C60 !important;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%),
                0 1px 3px rgb(0 0 0 / 8%);
} */
.cd-title{
    font-weight: 600 !important; 
    font-family: 'Open Sans', sans-serif;
    color: #1F283E !important; 
    font-size:18px !important;
}
.txt-label{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 !important;
    color: rgb(99,99,99);
}
.btn-data{
    color: #1F283E;
    font-weight: 600;
    background-color: #58DB91;
    width: 35%;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%),
                0 1px 3px rgb(0 0 0 / 8%);
}
.btn-data:hover {
    background-color: #1A237E;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%),
                0 1px 3px rgb(0 0 0 / 8%);
}
.card{
    font-family: 'Open Sans', sans-serif !important;
    color: #1F283E !important;
    font-size: 14px !important;
}
/* .text-nowrap{
    font-size: 14px !important;
} */

::placeholder {
    color: #BDBDBD !important;
    letter-spacing: 1px !important;
    opacity: 1 !important;
    font-weight: 300 !important;
    font-size: 14px !important;
}
input:focus,
textarea:focus {
      border: 1px solid #043353 !important;
      outline-width: 0 !important;
}

.main-footer{
    background-color: #f4f6f9 !important;
    border-top: none !important;
}